VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=wallet-1a5af.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=wallet-1a5af
VITE_FIREBASE_STORAGE_BUCKET=wallet-1a5af.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=929230989649
VITE_FIREBASE_APP_ID=
VITE_GOOGLE_WEB_CLIENT_ID=929230989649-mttmgn8hmfj90unss26mfrcb7lahfl9q.apps.googleusercontent.com
